[0;1;31m×[0m waybar.service - Highly customizable Wayland bar for Sway and Wlroots based compositors.
     Loaded: loaded (]8;;file://magpie/home/arved/.nix-profile/share/systemd/user/waybar.service\/home/arved/.nix-profile/share/systemd/user/waybar.service]8;;\; [0;1;38:5:185mdisabled[0m; preset: ignored)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Fri 2025-06-13 21:46:01 CEST; 3min 46s ago
   Duration: 65ms
 Invocation: 0be9c5e5f75a403c93388bb6d5967caf
       Docs: ]8;;https://github.com/Alexays/Waybar/wiki/\https://github.com/Alexays/Waybar/wiki/]8;;\
    Process: 3147 ExecStart=/nix/store/l2aw7jhndlv442d6gnnz910mlvvk0x6b-waybar-0.12.0/bin/waybar [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 3147 (code=exited, status=1/FAILURE)

Jun 13 21:46:01 magpie systemd[2779]: waybar.service: Scheduled restart job, restart counter is at 5.
Jun 13 21:46:01 magpie systemd[2779]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mwaybar.service: Start request repeated too quickly.[0m
Jun 13 21:46:01 magpie systemd[2779]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mwaybar.service: Failed with result 'exit-code'.[0m
Jun 13 21:46:01 magpie systemd[2779]: [0;1;31m[0;1;39m[0;1;31mFailed to start Highly customizable Wayland bar for Sway and Wlroots based compositors..[0m
